*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: sans-serif;
}

body{
    background-color: #3b3b3b;
}

.link-bio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 40px auto;
    gap: 20px;
}

.link-bio img{
    width: 20vh;
    border: solid 1px #fff;
    border-radius: 50%;
}

.link-bio h1{
    font-size: 35px;

}

.link-bio a{
    background-color: #FF0000;
    color: #fff;
    padding: 15px;
    width: 30%;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    border: solid 2px #FF0000;
    border-radius: 10px;
    
}

.fa-brands{
    float: left;
    color: black;
}

.fa-solid{
    float: left;
    color: black;
}

.link-bio a:hover{
    transform: scale(1.1);
    background-color: #858585;
    color: #FF0000;
}

#footer{
    margin-top: 60px;
    text-align: center;
    font-size: 15px;
}

#footer span{
    font-size: 20px;
    box-shadow: inset 0 0 0 0 #e00909;
    color: #fff;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#footer span:hover{
    box-shadow: inset 150px 0 0 0 #e00909;
    color: white;
}

@media only screen and (max-width: 600px) {
    .link-bio a{
        background-color: #FF0000;
        color: #fff;
        padding: 15px;
        width: 50%;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        border: solid 2px #FF0000;
        border-radius: 10px;
    }
  } 